*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
    line-height: 1;
    font-family: 'Luckiest Guy', cursive;

    font-family: 'Source Sans Pro', sans-serif;
}